* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  height: 600px;
}

omnibox-container {
  flex: 0 0 auto;
  width: 100%;
  padding: 40px 0 0 0;
  z-index: 1;
  position: relative;
  background: #fff;
}

omnibox {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: block;
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 16px;
  width: 600px;
  margin: 0 auto;
}

omnibox .message {
  padding: 4px 7px 4px 4px;
  display: inline-block;
  z-index: -1;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

omnibox .lock-icon {
  float: left;
  margin: 4px 0 5px 4px;
  width: 26px;
  border: 1px solid #aaa;
}

.lock-icon-animation {
  animation: border 6s ease-in-out infinite 0s;
  animation-delay: 0s;
}

omnibox .url {
  padding: 5px 5px;
  position: relative;
  background: #fff;
  z-index: 2;
  display: inline-block;
  margin: 4px 0 4px -134px;
}

omnibox .scheme {
  color: #0B8043;
}

.url-animation {
  animation: slide-horizontal 6s linear infinite 0s;
  animation-delay: 0s;
}

@keyframes border {
  0% { border-right: 1px solid #aaa; }
  2% { border-right: none; }
  95% { border-right: none; }
  96% { border-right: 1px solid #aaa; }
}

@keyframes slide-horizontal {
  0% { margin-left: -134px; border-left: none; }
  10% { margin-left: -6px; border-left: 1px solid #aaa; }
  85% { margin-left: -6px; border-left: 1px solid #aaa; }
  95% { margin-left: -134px; border-left: none; }
}

@keyframes slide-down {
  0% { margin-top: -280px; opacity: 0; z-index: -1; }
  1% { opacity: 1; }
  99% { margin-top: -5px; opacity: 1; z-index: -1; }
  100% { margin-top: 0px; opacity: 1; z-index: 2; }
}

@keyframes slide-up {
  0% { margin-top: 0px; opacity: 1; z-index: 2; }
  1% { z-index: -11; opacity: 1; }
  99% { opacity: 1; }
  100% { margin-top: -280px; opacity: 0; z-index: -1  }
}

page-info-container {
  flex: 0 0 auto;
  width: 360px;
  /*height: 405px;*/
  margin: 5px 32px 32px -280px;

  display: flex;
  background-size: cover;
}

page-info {
  font-family: Helvetica, Tahoma, sans-serif;
  flex: 1;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  box-shadow: 0 4px 16px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: -280px;
  opacity: 0;
}

page-info:after, page-info:before {
  bottom: 100%;
  left: 12.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

page-info:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

page-info:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000;
  border-width: 11px;
  margin-left: -11px;
}

.page-info-animation-down {
  animation: slide-down 0.5s linear 1 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.page-info-animation-up {
  animation: slide-up 0.5s linear 1 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

page-info header {
  box-sizing: border-box;
  padding: 18px;
  width: 100%;
  display: block;
}

page-info header spacer {
  display: block;
  height: 8px;
}

page-info origin {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
}

page-info .origin {
  padding: 5px;
}

page-info origin img {
  width: 24px;
  float: left;
  margin: 0 5px 0 0;
}

page-info button.revoke-cert-decision {
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

page-info site-settings {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

page-info hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

page-info site-settings section:not(:last-child) {
  margin-bottom: 18px;
}

page-info site-settings spacer {
  display: block;
  height: 8px;
}

page-info site-settings section-title {
  font-weight: bold;
}

page-info table {
  width: 300px;
}

page-info table td {
  padding: 0 20px 0 0;
}

page-info table td.select {
  text-align: right;
}
